################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/linkshortenerproject/.vs/slnx.sqlite
