################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/linkshortenerproject/.vs/slnx.sqlite
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/CodeChunks.db-wal
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-wal
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/CodeChunks.db
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/1864d8ef-4445-491b-a4a5-a78cf66aca91.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/1e939071-3cd9-402b-937f-e28e3083f9c0.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/22e16cc8-7c3e-4cf5-9bf5-5536b0e5460c.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/44c72310-b3a9-465b-8bff-02e1ad58b816.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/532be562-c610-4920-a0d6-d308264b003a.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex/f0a33750-cfd4-47a4-833f-d90db4990ab7.vsidx
/linkshortenerproject/.vs/linkshortenerproject.slnx/FileContentIndex
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/654FB3537C754042B111341CD2D3E199
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/AB21CCB8D885824F8AAF15EEBB33D312
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/DF2BEE9BC623EE4CA5E55BBBED3AC76E
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/state.mpack
/linkshortenerproject/.vs/linkshortenerproject.slnx/copilot-chat/a2e189c5/sessions/5bfa4dc5-11ad-4d77-b18c-fb61e411d9ee
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/state.mpack
/linkshortenerproject/.vs/linkshortenerproject.slnx/copilot-chat/a2e189c5/sessions/5bfa4dc5-11ad-4d77-b18c-fb61e411d9ee
/linkshortenerproject/.vs/linkshortenerproject.slnx/v18/.wsuo
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/state.mpack
/linkshortenerproject/.vs/linkshortenerproject.slnx/v18/.wsuo
/linkshortenerproject/.vs/linkshortenerproject.slnx/copilot-chat/a2e189c5/sessions/5bfa4dc5-11ad-4d77-b18c-fb61e411d9ee
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/2F5BB6FC9A16884FA4790610BE5E4C11
/linkshortenerproject/.vs/linkshortenerproject.slnx/copilot-chat/a2e189c5/sessions/5bfa4dc5-11ad-4d77-b18c-fb61e411d9ee
/linkshortenerproject/.vs/CopilotSnapshots/C54DFA5BAD11774DB18CFB61E411D9EE/state.mpack
/linkshortenerproject/.vs/linkshortenerproject.slnx/v18/.wsuo
/linkshortenerproject/.vs/linkshortenerproject.slnx/copilot-chat/a2e189c5/sessions/24e3dee9-a59f-4545-8937-a1aabe3d182e
/linkshortenerproject/.vs/CopilotSnapshots/E9DEE3249FA545458937A1AABE3D182E
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/CodeChunks.db-shm
/linkshortenerproject/.vs/linkshortenerproject/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-shm
/linkshortenerproject/.vs/linkshortenerproject.slnx/v18/DocumentLayout.backup.json
/linkshortenerproject/.vs/linkshortenerproject.slnx/v18/DocumentLayout.json
/linkshortenerproject/.vs/VSWorkspaceState.json
/linkshortenerproject/.vs/linkshortenerproject/v18/workspaceFileList.bin
